body {
    color: blue;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

body:hover {
    color: lightblue;
    transform:scale (1.1);
}

