body {
    color: blue;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

body:hover {
    color: lightblue;
    transform:scale (1.1);
    animation: changing 2s infinite;
}

h1 {
  color: white;
}

h1:hover {
  color: pink;

}

h1, h2{
    filter: blur(3.5px);

}

h1:hover, h2:hover{
    filter: blur(0px);
}

@keyframes changing{
     0%{
        color:blue;
     }
    50%{
        color:white;
    }
    100%{
        color: blue;
    }
}

