body {
    color: blue;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    filter: blur
}

body:hover {
    color: lightblue;
    transform:scale (1.1);
    animation: changing 2s infinite;
}

@keyframe changing{
     0%{
        color:blue;
     }
    50%{
        color:white;
    }
    100%{
        color: blue;
    }
}


